/* NAV BAR */
nav {
    height: 148px;
    display: flex;
}

.left {
    font-size: 48px;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    color: black;

   
}

.right {
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color:black;
    
       
}


/* FOOTER */
.footerLogo {
    width: 20px;
    height: 40px;
}

.footerContact {
    font-family: 'Karla', sans-serif;
    color: black;
    display: inline-block;
    padding: 20px;
}
.emailIcon {
    width: 31px;
    height: 31px;
}
.phoneIcon {
    width: 30px;
    height: 30px;
}

.igIcon, .linkedinIcon {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 5px;
    justify-content: end;
}

